
<div class = "albom">
    
 <% @albums.each do |albom| %>

<div class="card alboms" style="width: 18rem;">
        <img src=<%=albom.image %> class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"> <%= link_to albom.name  %></p>
        </div>

      </div>
           <%end%>

      </div>
