<div class ="Artis22" >
<h1> Artist name:  <%=  @album.name %> </h1>
 

<table class="table">

  <tbody>
    <tr>
      <th scope="row">Cover Image</th>
      <td>Year </td>
      <td>Name</td>
    </tr>
    <tr>
      <th scope="row"><img class = "imageee" src=<%=  @album.image %> alt=""></th>
      <td> <%= @album.release %> </td>
      <td><%= @album.name %></td>
    </tr>
   
  </tbody>
</table>