
 
</ul>
  <table class="table carrrrrr">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Player</th>
            <th scope="col">Albom cover</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @songs.each do|song| %>
  
            <th scope="row"><%= song.name%></th>
            <td><audio controls>
            
  <source src= <%=song.url%> type="audio/ogg"></audio></td>
            <td> <img class = "imageee" src="<%=song.image%>" alt=""></td>
            <td>non</td>
          </tr>
          
<% end %>
        
   