
 <div class="card artist" style="width: 18rem; artist">
        <ul class="list-group list-group-flush">

     <% @artists.each do |artist| %>

          <li class="list-group-item"> <%= link_to artist.name, artist_path(artist) %></li>
         
        
        <% end %>
        </ul>

      </div>
