
<div class ="Artis22" >
<h1> Artis name:  <%=  @artist.name %> </h1>
 

<table class="table">

  <tbody>
    <tr>
      <th scope="row">Cover Image</th>
      <td>Year</td>
      <td>Name</td>
    </tr>
    <tr>
      <th scope="row"><img class = "imageee" src=<%=  @artist.image %> alt=""></th>
      <td></td>
      <td>Thornton</td>
    </tr>
   
  </tbody>
</table>

